* {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#output {
    display: grid;
    gap: 0.2rem;
}

#output,
#output section {
    border: 1px solid black;
    padding: 0.2rem;
}

#output section h1 {
    text-transform: capitalize;
}

button {
    background-color: #0c8;
    color: white;
    padding: 0.2rem 0.6rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

button:hover {
    background-color: #086;
}

#statusField {
    font-family: monospace;
}