* {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100svh;
}

body {
    max-height: 100svh;
    display: flex;
    flex-direction: column;
}

header,
#menuButtons,
#people,
#families,
#inspector>* {
    padding: 0.5rem;
}

header {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

#menuButtons {
    border-bottom: 2px #084 solid;
}

body>main#editor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    overflow: hidden;
}

main>* {
    overflow: hidden;
}

#people,
#families {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.list {
    flex-grow: 1;
    overflow-y: scroll;
}

.list p {
    cursor: pointer;
}

.embolden {
    font-weight: bolder;
}

#families {
    border-left: 2px #084 solid;
    border-right: 2px #084 solid;
}

#inspector> :first-child {
    border-bottom: 2px #084 solid;
}

button {
    background-color: #0c0;
    color: white;
    padding: 0.2rem 0.6rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

button:hover {
    background-color: #084;
}

#form {
    display: grid;
    grid-template-columns: 1fr auto;
}

.hcont {
    display: flex;
    gap: 0.2rem;
}

.grow {
    flex-grow: 1;
}